.appbar{
    background-color: purple;
    color:yellow;  

}

.timebar{
    color:black;
    position:relative;
    left:250px;
    bottom: 50px;
}

.titulo-app-bar{
    color:violet   
}
.titulo-app-bar:hover{
    color:greenyellow;   
}
#home{
    color:aquamarine;
}

#link{
color: blueviolet;
}